$color-blue-dark: #2C2738;
$color-ocean: #0880AE;
$color-blue-light: #756F86;
$color-ocean-light: #7C9CBF;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #DBE2EA;
$color-blue: #0880AE;
$color-red: #FF7171;
$color-blue-thin: #EBF4F8;
$color-grey--dark: #B1B5BF
